<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/faq.css">
        <title>F.A.Q</title>
    </head>
    <body>
        <header class="header">
            <div class="background">
                <div class="icon"></div>
                <div class="title">F.A.Q</div>
            </div>
        </header>
        <div class="box">
            
            <div class="firstQ">
            <h3>What is Defend The Castle ?</h3>
            <p>Defend the castle is a strategy game, it consist to take choose 1 defender for protect the castle from attacker !</p>
            </div>

            <div class="secondQ">
            <h3>Why Defend The Castle ?</h3>
            <p>We decide to create Defend the castle because we are fan of this type of game and we are in love with gaming experiencies and we wanted to share our vision of gaming !</p>
            </div>

            <div class="thirdQ">
            <h3>Who are we ?</h3>
            <p>We are a group of 4 guys, we a part of Wild Code School</p>
            </div>

            <div class="fourthQ">
            <h3>What if the statement of the game ?</h3>
            <p>The game is actually in beta version, we will add futher functionality during the next few months !</p>
            </div>

            <h3 class="sword">TAKE YOUR SWORD AND FIGHT FOR THE KING</h3>
            <a class="button" href="/game/play">Back to play</a>
        </div>
    </body>