{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Initialisation de la partie</h1>
    {{ dump(troop) }}
    {% for soldier in troop %}
    <p>{{ soldier.getName() }} = {{ soldier.getLevel() }}</p>
    {% endfor %}
    <a href="/game/delete/{{game.table}}">Supprimer</a>
{% endblock %}