<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/legal.css">
        <title>Legal notice</title>
    </head>
    <body>
        <header>
            <a href="/game/play">
                <div class="anim1">
                    <img src="/assets/images/castle-50.png" alt="Background page of games rules">
                </div>
            </a>
            <h1>Legal notice of Defend The Castle</h1>
        </header>
        <div class="background"></div>

        <section>
            <div class="box">
                <h2>Identity</h2>
                    <p>
                        Website name: Defend The Castle<br>
                        Address: defendthecastle.fr<br>
                        Owner: Wild Code School<br>
                        Responsible for publication: Maxime A, Achille B, Thomas C and Kevin F.<br>
                        Design and production: Maxime A, Achille B, Thomas C and Kevin F.<br>
                    </p>
            </div>
            <div class="box">
                <h2>Moral person</h2>
                    <p>
                        Defend The Castle - Non-profit association - MAME, Tours.
                    </p>
            </div>
            <div class="box">
                <h2>Terms of use</h2>
                    <p>
                        Use of this site implies full acceptance of the general conditions of use described below. These conditions of use are likely to be modified or supplemented at any time.
                    </p>
            </div>
            <div class="box">
                <h2>Information</h2>
                    <p>
                        The information and documents on the site are presented for information only, are not exhaustive, and cannot engage the responsibility of the site owner.
                        The owner of the site can not be held responsible for direct or indirect damage resulting from access to the site.
                    </p>
            </div>
            <div class="box">
                <h2>Intellectual property</h2>
                    <p>
                        Unless otherwise stated, all elements accessible on the site (texts, images, graphics, logo, icons, sounds, software, etc.) remain the exclusive property of their authors, with regard to intellectual property rights or rights of 'use. 1
                        Any reproduction, representation, modification, publication, adaptation of all or part of the elements of the site, whatever the means or process used, is prohibited without the prior written consent of the author. 23
                        Any unauthorized use of the site or any of the elements it contains is considered to constitute an infringement and may be prosecuted. 4
                        The brands and logos reproduced on the site are registered by the companies which own them.
                    </p>
            </div>
            <div class="box">
                <h2>Links</h2>
                    <p>
                        <strong>outgoing links</strong><br>
                        The site owner declines all responsibility and is not bound by the referencing via hypertext links of third-party resources on the Internet, both with regard to their content and their relevance.<br>
                    <br>
                        <strong>inbound links</strong>
                        The site owner authorizes hypertext links to any of the pages of this site, provided that they open a new window and are presented in an unequivocal manner in order to avoid
                        any risk of confusion between the quoting site and the owner of the site as well as any tendentious presentation, or contrary to the laws in force.
                        The site owner reserves the right to request the removal of a link if he considers that the source site does not comply with the rules thus defined.
                    </p>
            </div>
            <div class="box">
                <h2>Confidentiality</h2>
                    <p>
                        Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité. 5 6 7 8
                        Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL. 9
                    </p>
            </div>
            <div class="box">
                <h2>Credits</h2>
                    <p>
                        Photo credits are on each photo or absent when the images are copyright free.
                        Legal notices provided by WebExpress - Version 1.5 - Free use under Creative Commons License CC BY-NC-ND 3.0 EN / creativecommons.org
                    </p>
            </div>
            <a class="button-return" href="/game/play">Back to play</a>
        </section>
    </body>
</html>