<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/rules.css">
        <title>Game rules</title>
    </head>
    <body>
        <div class="box">
            <h1>Welcome to Defend The Castle</h1>
                <div class="anim1"><img src="/assets/images/castle-50.png" alt="Background page of games rules"></div>
                <p>
                    Hello to you brave warriors, enter the kingdom, defend your castle and fight!
                </p>
            <h2>Rules of the game</h2>
                <p>
                    Defend The Castle is a turn-based strategic card game, the goal being to defend your castle with the cards provided to you. <br>
                    To win your duel, you must beat the enemy card that is attacking you to destroy your castle, but beware the card levels are random.
                    Before starting a game you must choose one of the three pre-built castles.
                </p>
                <p>     
                    You must win duels to increase your score and thus become the best.<br>
                    Cards have a fatigue system that will decrease with battles and impact their strengths during battles.<br>
                    Cards also have advantages against certain types:
                </p>
                        <ul>
                            <li>Archers have a 20% attack bonus against spearmen </li>
                            <li> Spearmen have a 20% attack bonus against horsemen </li>
                            <li> Horsemen have a 20% attack bonus against archers </li>
                        </ul> 
                 <a class="button-rules" href="/game/play">Back to play</a>
        </div>
    </body>
</html>