/***VARIABLES***/
:root {
    --color-primary: #3f3f3fbd;
    --color-secondary: rgba(0, 0, 0, 0.6);
    --color-secondary-hover: rgba(0, 0, 0);
    --color-tertiary: #F5C009;
    --font-primary: cursive;
    --cursor: url(../images/sword.cur), pointer;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}
/***DEFENSIVE CARDS***/
.container-defensers {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
}
.defensers {
    position: relative;
    bottom: 0px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: bottom 1s ease-in;
}
.defensers:hover {
    bottom: 200px;
    cursor: var(--cursor);
}
.img-card {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
/***HEADER***/
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 110px;
    background-color: var(--color-primary);
}
.container-items {
    margin: 5px;
}
.item-header {
    margin: 5px;
    padding: 0;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    text-transform: uppercase;
}
@media screen and (max-width: 800px) {
    .item-header {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .item-header {
        font-size: 12px;
    }
}
/***HEADER: second block***/
.attacker {
    position: relative;
    top: -150px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
/***BUTTONS DESIGN___START***/
.button {
    display: block;
    padding: 15px 0;
    width: 200px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
@media screen and (max-width: 800px) {
    .button {
        width: 160px;
        font-size: 18px;
        padding: 12px 0;
    }
}
@media screen and (max-width: 600px) {
    .button {
        width: 120px;
        font-size: 16px;
        padding: 10px 0;
    }
}
.button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    cursor: var(--cursor);
    transform: scale(1.1);
    transition: 0.5s;
}
.btn-no,
.btn-yes {
    margin: 30px auto;
    font-size: 25px;
}
@media screen and (max-width: 800px) {
    .btn-no,
    .btn-yes {
        margin: 25px auto;
        font-size: 22px;
    }
}
@media screen and (max-width: 600px) {
    .btn-no,
    .btn-yes {
        margin: 20px auto;
        font-size: 20px;
    }
}
.btn-yes:hover,
.btn-new-game:hover {
    background-color: red;
    color: white;
}
.btn-new-game {
    display: inline-block;
    background-color: var(--color-tertiary);
    margin: 20px;
    padding: 20px;
    border: none;
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 30px;
    cursor: var(--cursor);
}
/***BUTTONS DESIGN___END***/

/***BUTTONS POSITIONS___START***/
.btn-menu {
    position: absolute;
    top: 130px;
    right: 20px;
}
.btn-restart {
    position: absolute;
    top: 200px;
    right: 20px;
}
.btn-rules {
    position: absolute;
    top: 270px;
    right: 20px;
}
.btn-faq {
    position: absolute;
    top: 340px;
    right: 20px;
}
.btn-legal {
    position: absolute;
    top: 410px;
    right: 20px;
}
/***BUTTONS POSITIONS___END***/

/***FILIGRAMS___START***/
.filigram {
    display: none;
    position: fixed;               
    top: 0; right:0; bottom:0;
    background-color: var(--color-primary);
    z-index : 1000;
}
.flg-menu {
    width: 240px;
    z-index : 1000;
    background: url(../images/wall.png);
}
@media screen and (max-width: 800px) {
    .flg-menu {
        width: 200px;
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .flg-menu {
        width: 160px;
        font-size: 16px;
    }
}
.flg-restart,
.flg-castle {
    left: 0;
    z-index : 900;
}
#btn-menu,
#btn-restart,
#btn-rules,
#btn-yes {
    display : none;
}
#btn-menu:checked + .flg-menu,
#btn-restart:checked + .flg-restart,
#btn-yes:checked + .flg-castle {
    display: block;
}
label{
    cursor: var(--cursor);
}
/***FILIGRAMS___END***/

/***MESSAGES___START***/
.message {
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    background-color: var(--color-secondary-hover);
    border: 2px solid var(--color-tertiary);
    border-radius: 20px;
    color: var(--color-tertiary);
    font-size: 25px;
    text-align: center;
}
.message h4,
.message p {
    margin: 5px;
}
@media screen and (max-width: 800px) {
    .message {
        width: 400px;
        padding: 12px;
        border-radius: 15px;
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .message {
        width: 300px;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
    }
}
.msg-castle {
    margin: 50px auto;
}
.msg-castle h4 {
    text-align: left;
}
.default-castle {
    border-bottom: solid 1px var(--color-tertiary);
    padding: 10px;
}
.custom-castle {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: solid 1px var(--color-tertiary);
}
.my-castle {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: solid 1px var(--color-tertiary);
}
.my-castle label {
    text-align: left;
    padding: 10px;
}
.my-castle input {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    cursor: var(--cursor);
}
@media screen and (max-width: 800px) {
    .my-castle input {
        text-align: center;
        padding: 8px;
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .my-castle input {
        text-align: center;
        padding: 6px;
        font-size: 12px;
    }
}
.radio-castle {
    display: none;
}
.radio-castle + label {
    color: var(--color-tertiary);
    cursor: var(--cursor);
}
.radio-castle + label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    background: url(../images/red-cross.png) no-repeat center;
}
.radio-castle:checked + label span {
    background: url(../images/castle-50.png) no-repeat center;
}
@media screen and (max-width: 800px) {
    .radio-castle + label span {
        width: 40px;
        height: 40px;
    }
    .radio-castle:checked + label span {
        background: url(../images/castle-40.png) no-repeat center;
    }
    .btn-new-game {
        margin: 15px;
        padding: 15px;
        width: 160px;
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .radio-castle + label span {
        width: 30px;
        height: 30px;
    }
    .radio-castle:checked + label span {
        background: url(../images/castle-30.png) no-repeat center;
    }
    .btn-new-game {
        margin: 10px;
        padding: 10px;
        width: 120px;
        font-size: 15px;
    }
}
/***BATTLE WINDOW____start***/
.battle-window {
    width: 600px;
    height: 300px;
    margin: 180px auto;
    padding: 10px;
    background-color: var(--color-secondary);
    border-radius: 20px;
    color: var(--color-tertiary);
    font-size: 30px;
    text-align: center;
}
.win {
    color: green;
}
.lose {
    color: red;
}
#button-battle {
    height: 60px;
    width: 200px;
    border-radius: 15px;
    background-color: var(--color-secondary);
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    border: none;
}
#button-battle:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    transform: scale(1.1);
    transition: 0.5s;
    cursor: var(--cursor);
}
@media screen and (max-width: 800px) {
    .battle-window {
        width: 400px;
        height: 250px;
        margin: 200px auto;
        padding: 10px;
        border-radius: 15px;
        font-size: 25px;
    }
    #button-battle {
        height: 50px;
        width: 170px;
        border-radius: 12px;
        font-size: 20px;
        line-height: 40px;
    }
}
@media screen and (max-width: 600px) {
    .battle-window {
        width: 300px;
        height: 200px;
        margin: 220px auto;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    #button-battle {
        height: 40px;
        width: 150px;
        border-radius: 10px;
        font-size: 15px;
        line-height: 35px;
    }
}
/***BATTLE WINDOW____end***/

/***GAME CREATOR___start***/
.game-creator {
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: 15px;
    padding: 5px;
    background-color: var(--color-primary);
    border-radius: 10px;
    color: rgb(195, 195, 195);
    font-size: 16px;
    line-height: 24px;
}
.game-creator ul {
    text-align: left;
    padding-left: 20px;
}
.game-creator p {
    text-align: center;
}
.game-creator a {
    padding: 2px 10px;
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
    cursor: var(--cursor);
}
@media screen and (max-width: 800px) {
    .game-creator{
        width: 160px;
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width: 600px) {
    .game-creator{
        width: 120px;
        font-size: 10px;
        line-height: 16px;
    }
}
/***GAME CREATOR___end***/

/***ERROR UPLOAD__start***/
.msg-error-upload {
    position: absolute;
    bottom: 200px;
    right: 200px;
    width: 500px;
    padding: 20px;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    font-size: 25px;
    text-align: center;
}
.msg-error-upload h1 {
    margin: 5px 50px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--color-tertiary);
}
@media screen and (max-width: 1100px) {
    .msg-error-upload {
        bottom: 200px;
        right: 200px;
        width: 400px;
        padding: 17px;
        font-size: 22px;
    }
}
@media screen and (max-width: 800px) {
    .msg-error-upload {
        position: initial;
        margin: 100px auto;
        width: 350px;
        padding: 15px;
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .msg-error-upload {
        position: initial;
        margin: 100px auto;
        width: 300px;
        padding: 10px;
        font-size: 15px;
    }
}
