/* CSS BODY */

body {
    margin:0;
    padding:0;
    background: url('/assets/images/terrain.png') no-repeat center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
}

.header {
    background-color: #3f3f3fbd;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 110px;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

/* Cards */

.container-card {
    background-color: #3f3f3fbd;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 110px;
    position: fixed;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
}

.player-card {
    margin-top: 10px;
    width: 33%;
    height: 250px;
    position: relative;
    bottom: -0px;

}

.player-card:hover {
    bottom: 150px;
    transition: 1s;
}

.ennemy-card {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    width: 33%;
    height: 250px;
    position: relative;
    top: -50px;
}

.img-card {
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
}

/* end-Cards */

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.button {
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    border-style: none;
    padding: 15px;
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    
}

.button:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.container_score {
    display: flex;
    width: 33%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.castle {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.637);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.player {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.637);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

@media screen and (min-width: 545px) {
    .player-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        border-radius: 20px 20px 0px 0px;
    }

    .container_score {
        flex-direction: row;
    }

    .player-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}